<?xml version="1.0" encoding="UTF-8" ?>
<!-- DTD선언 태그정보와 문서정보 mapper파일-->
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!--
 	 mapper 라는 영역안에 구문을 작성한다.
 	 namespace : mapper간의 충돌을 방지 하기 위한 이름 :: 모든 매퍼들이 겹치면 안된다.
  -->
<mapper namespace="product">
	

	<insert id="add" parameterType="com.kh.spring05.entity.Product">
		insert into product(no, name, price, reg) 
		values(product_seq.nextval, #{name}, #{price}, sysdate)
	</insert>
	
	
	<select id="list" resultType="product" parameterType="int">
		select * from product
		
		<!-- <if test="name != null and name != ''"> name이 있으면 
			where instr(name, #{name}) > 0
		</if> -->
		<!-- if(이름이 있다면) {
			where instr(name,#{name}) > 0
			where name like '%'||#{name}|| '%'
		} -->
		<if test="price != null and price != ''"> 
			where price = #{price}
		</if>
	</select>
	
	<!-- 
		where 태그를 사용한면 내부의 값에 유무에 따라 자동으로 where를 붙여준다.
	 -->	
	
	<select id="list2" resultType="product" parameterType="map">
		select * from product
		<where>
		<if test="name != null and name != ''"> 
			and instr(name, #{name}) > 0
		</if>
		
		<if test="price != null"> 
			and price = #{price}
		</if>
		<if test="start != null and end != null">
			<!-- and price between #{start} and #{end} -->
			<!-- 만약 사용하지 못하는 부등호 같으 기호가 있다면 CDATA 블록을 만들어 작성-->
			<![CDATA[
			and price >= #{start} and price <= #{end}
			]]>
		</if>
		</where>
	</select>
	<!-- 
		만약 category = price, order = desc라면
		#{} 동적바인딩
		select * from product order by 'price' 'desc' -> 실행안됨
		${} 정적바인딩 : name에 값을 어떠한 처리도 없이 그대로 배치(정적 바인딩).
		
 	 -->
	<select id="list3" resultType="product" parameterType="map">
		select * from product order by ${category} ${order}
	</select>
	
	
	<!-- 참이슬이나 처음처럼이라는 이름을 가진 항목을 검색 -->
	<select id="list4" resultType="product" parameterType="list">
		select * from product
		where name in 
		<!-- 
			collection : 저장소 유형(map에 포함된 경우만 이름을 작성)
			open : 구문 시작 시 출력할 기호
			close : 구문 종료 시 출력할 기호
			seperator : 구분자, 항목 사이에 출력할 기호
			item : 실제 출력할 요소명
				item		collection
			for(String word : require) {
			
			}
		 -->
		<foreach collection="list" open="(" close=")" separator="," item="word">
			#{word}
		</foreach>
	</select>
	
	
</mapper>