<?xml version="1.0" encoding="UTF-8" ?>
<!-- DTD선언 태그정보와 문서정보 mapper파일-->
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!--
 	 mapper 라는 영역안에 구문을 작성한다.
 	 namespace : mapper간의 충돌을 방지 하기 위한 이름 :: 모든 매퍼들이 겹치면 안된다.
  -->
<mapper namespace="product">
	
	<insert id="add" parameterType="com.kh.spring07.entity.Product"> 
		insert into product
		values(product_seq.nextval, #{name}, #{price}, sysdate)
	</insert>
	
</mapper>